{{#modal-large}}
  <div class="modal-header">
    <button type="button" class="close" {{action "cancel"}} aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{t "modals.general.create.or.edit.headline"}}</h4>
  </div>
  <div class="modal-body">
    {{#if failure}}
      {{alert-box title=generalErrorTitle message=generalErrorMessage type="danger"}}
    {{/if}}
    {{#if success}}
      {{alert-box title=generalSuccessTitle message=generalSuccessMessage type="success"}}
    {{else}}
      {{#each attributes as |attribute|}}
        <form class="form-horizontal">
          {{#form-group title=attribute.title inputId=attribute.attributeName }}
            {{input id=attribute.attributeName model=model tooltip="test" attribute=attribute class="form-control col-xs-12" disabled=attribute.disabled maxlength=attribute.length}}
            {{attribute-error errors=model.errors.messages attributeName=attribute.attributeName}}
          {{/form-group}}
        </form>
      {{/each}}
    {{/if}}
  </div>
  <div class="modal-footer">
    {{#unless success}}
      <button {{action "updateModel"}} type="button" class="btn btn-primary">{{t "modals.model.tenant.save"}}</button>
    {{/unless}}
    <button {{action "cancel"}} type="button" class="btn btn-primary">{{t "modals.general.close"}}</button>
  </div>
{{/modal-large}}
